/* Label Styles */
.label {
    /* Common styles for all labels */
    -fx-font-family: 'Montserrat', Arial, sans-serif;
    -fx-font-size: 24px;
    -fx-text-fill: #444444; /* Dark gray text color */
    -fx-padding: 10px;
    overflow: hidden;
}

/* Animation Keyframes */
@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* Animation for Label Text Writing Effect */
.typing-animation {
    animation: typing 3s steps(50) 1s forwards;
}
